# for c#
bin/
obj/
[Bb]in/
[Oo]bj/
target
data/

# for nodejs
ui/**/node_modules/
ui/**/dist/
ui/**/build/
ui/**/.idea
ui/**/yarn.lock
ui/**/*-debug.log
ui/**/*-error.log

# for development local
deploy/data/

.idea
*/.idea
.vs

# for deployment environment
.deploy/data/

# for be build
go.work.sum
scyna/scyna-go/go.sum
services/authenticating/go.sum

# for .vscode
.vscode/